# ======= СЕРВЕР =======
PORT= # Порт, на якому працює сервер (наприклад, 3000)

# ======= БАЗА ДАНИХ =======
MONGODB_USER= # Ім'я користувача для підключення до MongoDB
MONGODB_PASSWORD= # Пароль для підключення до MongoDB
MONGODB_URL=dyblikat.r4xx8.mongodb.net # Хост MongoDB Atlas (без протоколу)
MONGODB_DB= # Назва бази даних (наприклад, mydatabase)

# ======= SMTP (ВІДПРАВКА ЛИСТІВ) =======
SMTP_HOST=smtp-relay.brevo.com # Хост SMTP-сервера Brevo
SMTP_PORT=587 # Порт SMTP (587 для TLS, 465 для SSL, 25 для незахищеного)
SMTP_USER=************@smtp-brevo.com # Логін для авторизації в SMTP (зазвичай email)
SMTP_PASSWORD=********* # Пароль або API Key для SMTP
SMTP_FROM= # Адреса відправника (має бути верифікована у Brevo)

# ======= АУТЕНТИФІКАЦІЯ =======
JWT_SECRET= # Секретний ключ для підпису токенів (згенеруй crypto.randomBytes(32).toString("hex"))

# ======= КЛІЄНТСЬКИЙ ДОМЕН =======
APP_DOMAIN=http://localhost:3000/auth # Домен, де знаходиться фронтенд
