# ======= СЕРВЕР =======
PORT=3000  # Порт, на якому працює сервер

# ======= БАЗА ДАНИХ (MongoDB Atlas) =======
MONGODB_USER=your_username  # Ім'я користувача для підключення
MONGODB_PASSWORD=your_password  # Пароль для підключення
MONGODB_URL=dyblikat.r4xx8.mongodb.net  # Хост MongoDB Atlas (без протоколу)
MONGODB_DB=your_database  # Назва бази даних

# ======= SMTP (НАЛАШТУВАННЯ ВІДПРАВКИ ЛИСТІВ) =======
SMTP_HOST=smtp-relay.brevo.com  # Хост SMTP-сервера Brevo
SMTP_PORT=587  # Порт SMTP (587 - TLS, 465 - SSL, 25 - незахищений)
SMTP_USER=your_email@smtp-brevo.com  # Логін для авторизації (зазвичай email)
SMTP_PASSWORD=your_smtp_password  # Пароль або API Key
SMTP_FROM=your_verified_email@example.com  # Адреса відправника (верифікована у Brevo)

# ======= АУТЕНТИФІКАЦІЯ =======
JWT_SECRET=your_secret_key  # Секретний ключ для підпису токенів

# ======= КЛІЄНТСЬКИЙ ДОМЕН =======
APP_DOMAIN=http://localhost:3000/auth  # Домен, де знаходиться фронтенд

# ======= CLOUDINARY (ЗБЕРІГАННЯ ФОТО) =======
CLOUDINARY_CLOUD_NAME=your_cloud_name  # Назва вашого Cloudinary-акаунту
CLOUDINARY_API_KEY=your_api_key  # API-ключ Cloudinary
CLOUDINARY_API_SECRET=your_api_secret  # API-секрет Cloudinary

# ======= МІСЦЕ ЗБЕРІГАННЯ ФАЙЛІВ =======
UPLOAD_TO_CLOUDINARY=true  # true - збереження у Cloudinary, false - локально
